<footer>
      <div class="container">
        <div class="footerMobile">
          <div class="footerHeader flex align-items-center">
            <ul class="footerTitle flex">
              <li><a href="">首頁</a></li>
              <li><a href="">系列鏡框</a></li>
              <li><a href="">門市據點</a></li>
              <li><a href="">部落格</a></li>
              <li><a href="">常見問題</a></li>
            </ul>
            <ul class="footerIcon flex">
              <li><a href=""><img src="../assets/images/ic-social-fb.png" alt=""></a></li>
              <li><a href=""><img src="../assets/images/ic_social_ig.png" alt=""></a></li>
              <li><a href=""><img src="../assets/images/ic_social_line.png" alt=""></a></li>
            </ul>
          </div>
          <div class="myConnection">
            <p class="flex align-items-center"><span class="material-symbols-outlined">
              call
              </span><a href="tel:+">0800-000-000</a></p>
            <p class="flex align-items-center"><span class="material-symbols-outlined">
              mail
              </span><a href="mailto:">glasses@business.com</a></p>
          </div>
        </div>
        <hr>
        <div class="footerFooter flex">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
          <div class="privacy flex">
            <p>隱私權政策</p>
            <p>服務條款</p>
          </div>
        </div>
      </div>
    </footer>