<nav>
  <div class="container flex align-items-center">
        <div class="logo">
          <a href="./index.html"><img src="../assets/images/logo-white.png" alt="" /></a>
        </div>
        <ul class="flex">
          <li><a href="./opticalPage.html">系列環境</a></li>
          <li><a href="">門市據點</a></li>
          <li><a href="./blogPage.html">部落格</a></li>
          <li><a href="">常見問題</a></li>
        </ul>
  </div>
</nav>