<div class="pagination">
      <div class="container">
        <ul>
          <li class="pre"><a href="#">上一頁</a></li>
          <li class="page"><a href="#">1</a></li>
          <li class="page"><a href="#">2</a></li>
          <li class="page"><a href="#">3</a></li>
          <li class="page"><a href="#">4</a></li>
          <li class="page"><a href="#">5</a></li>
          <li class="next"><a href="#">下一頁</a></li>
        </ul>
      </div>
</div>