<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="blogSearch">
      <div class="container flex justify-content-sb">
        <ul class="flex align-items-center">
          <li><a href="">最新消息</a></li>
          <li><a href="">特別企劃</a></li>
          <li><a href="">新品上市</a></li>
          <li><a href="">鏡框小知識</a></li>
        </ul>
        <div class="searchIcon flex align-items-center">
          <span class="material-symbols-outlined"> search </span>
        </div>
      </div>
    </div>
    <div class="container blogMain">
      <h1>部落格</h1>
      <ul>
        <li class="flex justify-content-sb">
          <div class="blogImg">
            <img src="../assets/images/blog-1.png" alt="" />
          </div>
          <div class="blogItem">
            <h2>情人特別企劃</h2>
            <div class="flex justify-content-sb">
              <h3>2020 Valentine’s Special</h3>
              <p class="date">2020/02/14</p>
            </div>
            <div class="blogItemContent flex justify-content-sb">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，
                為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，
                結合彼此喜好、找出合適框型款式，
                在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止
                ，不論是熱戀情侶、自由自在一個人或是老夫老妻，
                只要從未來過本店的新朋友，綁定官方LINE好友， 都可享專屬優惠⋯⋯
                <a class="moreALink" href="">more</a>
              </p>
              <div class="moreBtn">
                <a href="#">MORE</a>
              </div>
            </div>
          </div>
        </li>
        <li class="flex justify-content-sb">
          <div class="blogImg">
            <img src="../assets/images/blog-2.png" alt="" />
          </div>
          <div class="blogItem">
            <h2>街頭潮人訪問</h2>
            <div class="flex justify-content-sb">
              <h3>Street Interview</h3>
              <p class="date">2020/02/02</p>
            </div>
            <div class="blogItemContent flex justify-content-sb">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，
                為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，
                結合彼此喜好、找出合適框型款式，
                在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止
                ，不論是熱戀情侶、自由自在一個人或是老夫老妻，
                只要從未來過本店的新朋友，綁定官方LINE好友， 都可享專屬優惠⋯⋯
                <a class="moreALink" href="">more</a>
              </p>
              <div class="moreBtn">
                <a href="#">MORE</a>
              </div>
            </div>
          </div>
        </li>
        <li class="flex justify-content-sb">
          <div class="blogImg">
            <img src="../assets/images/blog-3.png" alt="" />
          </div>
          <div class="blogItem">
            <h2>春季新品上市</h2>
            <div class="flex justify-content-sb">
              <h3>New Selection</h3>
              <p class="date">2020/02/02</p>
            </div>
            <div class="blogItemContent flex justify-content-sb">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，
                為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，
                結合彼此喜好、找出合適框型款式，
                在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止
                ，不論是熱戀情侶、自由自在一個人或是老夫老妻，
                只要從未來過本店的新朋友，綁定官方LINE好友， 都可享專屬優惠⋯⋯
                <a class="moreALink" href="">more</a>
              </p>
              <div class="moreBtn">
                <a href="#">MORE</a>
              </div>
            </div>
          </div>
        </li>
        <li class="flex justify-content-sb">
          <div class="blogImg">
            <img src="../assets/images/blog-4.png" alt="" />
          </div>
          <div class="blogItem">
            <h2>設計師獨享鏡框優惠</h2>
            <div class="flex justify-content-sb">
              <h3>Sales for Designer</h3>
              <p class="date">2020/01/18</p>
            </div>
            <div class="blogItemContent flex justify-content-sb">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，
                為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，
                結合彼此喜好、找出合適框型款式，
                在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止
                ，不論是熱戀情侶、自由自在一個人或是老夫老妻，
                只要從未來過本店的新朋友，綁定官方LINE好友， 都可享專屬優惠⋯⋯
                <a class="moreALink" href="">more</a>
              </p>
              <div class="moreBtn">
                <a href="#">MORE</a>
              </div>
            </div>
          </div>
        </li>
        <li class="flex justify-content-sb">
          <div class="blogImg">
            <img src="../assets/images/blog-5.png" alt="" />
          </div>
          <div class="blogItem">
            <h2>抵抗夏日大作戰</h2>
            <div class="flex justify-content-sb">
              <h3>Summer Special</h3>
              <p class="date">2019/08/07</p>
            </div>
            <div class="blogItemContent flex justify-content-sb">
              <p>
                一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，
                為這個甜蜜的節日加溫。偶爾跟另一半來個低調情侶單品，
                結合彼此喜好、找出合適框型款式，
                在這個春夏輕鬆搭出屬於你們的甜蜜默契！ 即日起至2/16為止
                ，不論是熱戀情侶、自由自在一個人或是老夫老妻，
                只要從未來過本店的新朋友，綁定官方LINE好友， 都可享專屬優惠⋯⋯
                <a class="moreALink" href="">more</a>
              </p>
              <div class="moreBtn">
                <a href="#">MORE</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <%- include('./layout/pagination'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
