<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="indexBanner">
      <div class="container">
        <p>Promise-Desert 2020 早春系列</p>
        <h1>看得清，才能看得遠</h1>
        <button class="bannerBtn" type="button">立即購買</button>
      </div>
    </div>
    <div class="professional">
      <div class="container">
        <h2>用專業的心，做專業的事</h2>
        <ul>
          <li>
            <span class="material-symbols-outlined">
              paid
              </span>
            <h3>單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li>
            <span class="material-symbols-outlined">
              schedule
              </span>
            <h3>20 分鐘即可取件</h3>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li>
            <span class="material-symbols-outlined">
              favorite
              </span>
            <h3>安心售後服務</h3>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li>
            <span class="material-symbols-outlined">
              eyeglasses
              </span>
            <h3>關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="classic">
      <div class="container">
        <h2>經典系列鏡框</h2>
        <ul>
          <li>
            <img src="../assets/images/home-section3-1.png" alt="" />
            <p>OPTICAL</p>
          </li>
          <li>
            <img src="../assets/images/home-section3-2.png" alt="" />
            <p>SUNGLASSES</p>
          </li>
          <li>
            <img src="../assets/images/home-section3-3.png" alt="" />
            <p>FUNCTIONAL</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="jointName">
      <div class="container">
        <h2>聯名設計鏡框</h2>
        <ul>
          <li>
            <div class="img-double"></div>
            <p>DOUBLE A+</p>
          </li>
          <li>
            <div class="img-youth"></div>
            <p>YOUTH</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="recommend">
      <div class="container">
        <h2>顧客推薦</h2>
        <ul>
          <li>
            <img src="../assets/images/home-section5-1.png" alt="" />
            <div class="recommendContent">
              <p class="name">Jessy</p>
              <p class="illustrate">眼鏡品質優良，下次還會想來這邊購買！</p>
              <time class="date">2021/06/20</time>
            </div>
          </li>
          <li>
            <img src="../assets/images/home-section5-2.png" alt="" />
            <div class="recommendContent">
              <p class="name">凱倫</p>
              <p class="illustrate">
                做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
              </p>
              <time class="date">2021/04/18</time>
            </div>
          </li>
          <li>
            <img src="../assets/images/home-section5-3.png" alt="" />
            <div class="recommendContent">
              <p class="name">悠悠</p>
              <p class="illustrate">
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </p>
              <time class="date">2020/12/25</time>
            </div>
          </li>
          <li>
            <img src="../assets/images/home-section5-4.png" alt="" />
            <div class="recommendContent">
              <p class="name">Kyuan</p>
              <p class="illustrate">服務很好，品質沒有任何問題，非常喜歡。</p>
              <time class="date">2020/10/31</time>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="connectionWrap">
      <div class="container">
        <div class="connection">
          <h2>聯絡我們</h2>
          <p>
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form class="userData" action="">
            <label for="userName">姓名</label>
            <input
              class="dataInput"
              type="text"
              name="userName"
              id="userName"
              placeholder="陳小明"
            />
            <label class="dataLabel" for="userTel">連絡電話</label>
            <input
              class="dataInput"
              type="tel"
              name="userTel"
              id="userTel"
              placeholder="0912-345-678"
            />
            <label class="dataLabel" for="userMail">電子郵件</label>
            <input
              class="dataInput"
              type="email"
              name="userMail"
              id="userMail"
              placeholder="example@email.com"
            />
            <label class="dataLabel" for="opinion">意見反映</label>
            <textarea
              class="opinion"
              type="text"
              name="opinion"
              id="opinion"
              placeholder="請輸入您的意見"
            ></textarea>
            <div class="agree">
              <input
                type="checkbox"
                name=""
                id="agree"
                value="我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。"
              />
              <label for="agree"
                >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
              >
            </div>

            <button type="submit" class="submitBtn">確認送出</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
